body 
{  
  background-image:url('./background-pattern-design-65.jpg');
  margin:50px 0px; padding:0px;
	text-align:center;
 }
 
h1
{ 
text-align: center;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

a#on
{
text-decoration:none;
border-color:black;
border-top:1px solid;
border-bottom:1px solid;
border-right:1px solid;
border-left:1px solid;
text-shadow: 4px 1px 3px #050405;
color:#ffffff;
border-radius:25px;
-o-border-radius:10px 10px 10px;
-webkit-border-radius:28;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
font-size: 60px;
-moz-border-radius:10px 10px 10px;
background-color:#006600;
padding:80px;
text-align:center;
}

a#off
{
text-decoration:none;
border-color:black;
border-top:1px solid;
border-bottom:1px solid;
border-right:1px solid;
border-left:1px solid;
text-shadow: 4px 1px 3px #050405;
color:#ffffff;
border-radius:25px;
-o-border-radius:10px 10px 10px;
-webkit-border-radius:28;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
font-size: 60px;
-moz-border-radius:10px 10px 10px;
background-color:#BA0000;
padding:80px;
text-align:center;
}

a:active{color:#ffffff;}
